/*-- Beginn of new content --*/
* {
  box-sizing: border-box;
}

body {
  font-family: "Work Sans", sans-serif;
  /*display: Verdana, sans serif;*/
  max-width: 1000px;
  margin-left: auto;
  margin-right: auto;
  padding: 0.1em;
}

/*-- Slideshow container --*/
.slideshow-ctn {
  max-width: 1000px;
  position: relative;
  margin: auto;
  border: 1px solid #7d97ad;
  border-radius: 5px 5px;
}

.my-slides {
  display: none;
  width: 100%;
  margin: 0.5em;
}

.slide-img {
  vertical-align: middle;
  max-width: 400px;
  width: 70%;
  max-height: 266px;
  text-align: center;
  padding: 0.5em;
  background-color: white;
}

/*-- The dots/buttons/indocators --*/
.dot-ctn {
  position: relative;
  bottom: 5px;
  padding-left: 20px;
  text-align: center;
}

.dot {
  height: 15px;
  width: 15px;
  margin: 0 2px;
  background-color: #bbb;
  border-radius: 50%;
  display: inline-block;
  transition: background-color 0.6s ease;
}

.active {
  background-color: #717171;
}

.side-div {
  height: 100%;
  width: 100%;
  max-height: 266px;
  line-height: 0.5em;
  padding: 0;
}

.big-title {
  font-size: 1.5em;
  margin: 0;
  padding: 0.5em 0 0 0;
  text-align: center;
  vertical-align: middle;
  width: 100%;
  height: 100%;
  text-transform: uppercase;
  font-family: 'Nanum Pen Script', cursive;
  text-decoration: underline;
  color: black;
}
/*-- Caption text --*/
.text {
  color: gray;
  font-size: 1em;
  padding: 3vw;
  position: relative;
  width: 100%;
  text-align: center;
}
/*--  Fading animation --*/
.fade {
  -webkit-animation-name: fade;
  -webkit-animation-duration: 1.5s;
  animation-name: fade;
  animation-duration: 1.5s;
}

@-webkit-keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}
@keyframes fade {
  from { opacity: 0 }
  to { opacity: 1 }
}

/*-- Featured Work --*/
.middle-title {
  color: #7d97ad;
}
.featured-work {
  margin: 0;
  padding: 0;
}
.project-ctn {
  grid-template-columns: repeat(2, 1fr);
  max-width: 1000px;
  display: grid;
  margin: 0;
  padding: 0;
  list-style: outside none none;
  grid-gap: 0.3em;
}
.project-list {
  border: 1px solid #7d97ad;
  margin: 0;
  text-align: center;
  line-height: 1em;
  text-decoration: none;
  border-radius: 5px 5px;
}
.project-img {
  max-width: 400px;
  width: 100%;
  padding: 0.5em;
}
.project-name {
  font-family: 'Nanum Pen Script', cursive;
  font-size: 1.3em;
  color: black;
}
.project-link {
  position: relative;
  bottom: 0;
  font-size: 1em;
  color: #2d3c49;
}
a {
  text-decoration: none currentcolor solid;
  color: orange;
}
.about-me {
  margin: 5vh 0 5vh 0;
}
/*-- On smaller screens, decrease text size --*/

@media only screen and (min-width: 0) and (max-width: 640px){
  .slideshow-ctn {
    text-align: center;
  }
}

@media only screen and (min-width: 641px) {
  .side-div {
    float: right;
    width: calc(100% - 400px);
  }
  .big-title {
    padding-top: 6vh;
    font-size: 2em;
    line-height: 1em;
  }
  .text {
    font-size: 1.3em;
    line-height: 1em;
  }
  .slideshow-ctn {
    padding-left: 5vw;
    padding-right: 4vw;
    padding-bottom: 1vh;
  }
  .project-ctn {
  grid-template-columns: repeat(3, 1fr);
  }
}
@media only screen and (min-width: 765px) {
  .big-title {
    font-size: 3em;
  }
}
/*-- End of new content --*/

/*body, html {
  font-family: "Work Sans", sans-serif;
  width: 100%;
  min-height: 100%;
  max-width: 1330px;
  margin: auto;
}*/

header {
  width: 93%; /*so that it matches the vertical alignment of the content*/
  margin-left: auto; /*with both margins, the content is centered*/
  margin-right: auto;
  padding-left: 0.6rem;
  padding-right: 0.6rem;
  padding-bottom: 2vh;
}
/*Udacity's logo*/
.header-logo {
  max-height: 52px;
  max-width: 52px;
  float: left; /* enables the titles to be besides the logo*/
  vertical-align: top;
  fill: #02b3e4; /*like color, but for svg. So, "fill"*/
}

.header-title {
  font-weight: 200; /*a thin font*/
}

.header-subtitle {
  font-weight: 400; /*equivalent to bold*/
}

.main-titles {
  text-align: right;
  width: 100%;
  color: #2d3c49;
  line-height: 0.74; /*vertical space between two lines*/
  margin-top: 0.5em;
}

.text-line {
  fill: #7d97ad; /*this is the same as color, but for xml*/
}

/*div of the owl image*/
.cover-intro {
  padding-bottom: 0;
  padding-top: 20px;
  width: 96%;
  margin-left: auto;
  margin-right: auto;
}

/*owl's svg code*/
.project-main-cover {
  overflow:hidden; /*without scrollbars*/
  position: relative;
  width: 100%;
}
/*beginn of owl svg code*/
.corp{
  fill:#7d97ad;
}
.w-eye{ /*white eyes*/
  fill:#fff; /*#ffffff*/
}
.gray{
  fill:#2d3c49;
}
.nose{
  fill:#ededed;
  stroke:#1d1d1b;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.wing{
  opacity:0.36;
  fill:#2d3c49;
}
.bubble{
  fill:none;
  stroke:#1d1d1b;
  stroke-width:0.5846px;
  stroke-linecap:round;
  stroke-miterlimit:10;
}
.welcome {
  font-family: 'Nanum Pen Script', cursive; /*Another Google Font*/
}
/*ends of owl svg code*/

/*button*/
.show-hide {
  font-family: "Nanum Pen Script", cursive;
  font-size: 1.5em;
  text-align: center;
  align-items: center;
  background-color: transparent;
  border-radius: 5px 5px;
  border: solid 0.5px #7d97ad;
  width: 100%;
  padding: 0 5% 0 5%;
  float: right;
  cursor: pointer;
}

/*Div with text introduction*/
#text-box { /*Without this, the page loads the text box being showed*/
    display: none;
}

/*Div with text introduction within the button*/
#text-box, .intro-text { /*the #text-box is for the --JavaScript function.*/
  background-color: #dfe8ef;
  border-radius: 5px;
  padding: 10vh 5vw 5vh 5vw;
}

/*text inside the show/hide button*/
.intro-text {
  font-size: 1.5em;
  line-height: 1.25em;
  text-align: justify;
  text-indent: 1.5em; /*space before starting a paragraph*/
  font-family: 'Nanum Pen Script', cursive;
}

.box-title {
  font-weight: 200;
  font-size: 3.1em;
  margin-top: 0; /*This aligns horizontally title and text inside box*/
  margin-bottom: 0.2em;
  text-indent: initial; /*so that it is not like the paragraph; with a little margin on the left*/
  text-align: center;
}

.fourth-title {
  text-indent: initial;
  text-align: center;
  margin-top: 0;
  margin-bottom: 0.5em;
}

.paragraf {
  margin-top: 0; /*the text is more to the top like this*/
}

/*h2 Featured Work*/
.secondary-title {
  color: #7d97ad;
  font-size: 2em;
  font-weight: 500;
  padding-left: 0.4rem;
  padding-top: 2em;
  text-align: left;
}

/*link*/
a {
  text-decoration: none currentcolor solid;
  color: grey;
}

/*Responsive*/
@media screen and (max-width: 320px) {
  .header-logo {
    position: absolute; /*alternative to negative margins to align logo and title. It did not function with vertical-align*/
    top: 0.8em;
    left: 0.8em;
    max-width: 40px;
    max-height: 40px;
  }
  .main-titles {
     line-height: 0.4;
  }
  .header-title {
     font-size: 1.7em;
  }
  .header-subtitle {
     font-size: 1em;
     margin-bottom: 0; /*puts the text-line closer to the subtitle*/
  }
}

@media screen and (min-width:321px) and (max-width: 359px) {
  .header-logo {
    position: absolute;
    top: 1.6em;
    height: 42px;
    margin-top: 0.1em; /*so that the logo fits perfectly with the title*/
    margin-left: 0.1em;/*so that the logo fits perfectly with the underline*/
  }
  .main-titles {
    margin-top: 2em;
    line-height: 0.4;
    margin-bottom: 0.1em; /*to approximate the underline to the title*/
  }
  .header-title {
    font-size: 1.7em;
  }
  .header-subtitle {
    font-size: 1em;
  }
  #text-box, .intro-text {
    margin-top: 2.99em; /*Align the text box with the button*/
  }
}

@media screen and (min-width: 360px) and (max-width:410px) {
  .header-title {
    font-size: 1.8em;
  }
  .header-subtitle {
    font-size: 1em;
    margin-bottom: 0em;
  }
  #text-box, .intro-text {
    margin-top: 2.99em; /*Align the text box with the button*/
  }
}

@media screen and (min-width:411px) and (max-width:599px) {
  .header-title {
    font-size: 2.1em;
  }
  .header-subtitle {
    font-weight: 400; /*This looks better than 600*/
    font-size: 1.2em;
  }
  #text-box, .intro-text {
    margin-top: 2.99em; /*Align the text box with the button*/
  }
}

@media screen and (min-width:600px) and (max-width:767px) {
  .header-logo {
    height:82px;
  }
  .header-title {
    font-size: 3.2em;
  }
  .header-subtitle {
    font-size: 1.4em;
  }
}

@media screen and (min-width: 768px) {
  header {
    padding-top: 1.3rem;
  }
  .header-logo {
    max-height: 90px;
    max-width: 90px;
    margin-top: 1.7em;
  }
  .main-titles {
    line-height: 0.4;
  }
  .header-title {
    font-size: 3.5em;
  }
  .header-subtitle {
    font-size: 1.6em;
  }

  #text-box,.show-hide, .intro-text {
    font-size: 2em;
  }
  .secondary-title {
    font-size: 2.9em;
    padding-left: 2.2rem;
  }
  .project-name {
    font-size: 1.8em;
  }
}

@media screen and (min-width:480px) and (max-width: 1024px) {
  .intro-text {
    -webkit-column-count: 2; /* Chrome, Safari, Opera. Makes 3 columns */
    -moz-column-count: 2; /* Firefox. Makes 3 columns*/
    column-count: 2; /*Other browsers. Makes 3 columns*/
    line-height: 1.5em;
    -webkit-hyphens: auto;/* Chrome, Safari, Opera */
    -moz-hyphens: auto;/* Firefox */
    -ms-hyphens: auto;/* Microsoft */
    hyphens: auto; /*For Firefox and others. Seems not to work on Chrome*/
    word-wrap: break-word; /*break a word if it is larger than the div*/
    column-gap: 1.3em;/*gap between columns*/
  }
}

@media screen and (min-width:1025px) {
  .intro-text {
    padding-top: 1.5em;
    -webkit-column-count: 3; /* Chrome, Safari, Opera. Makes 3 columns */
    -moz-column-count: 3; /* Firefox. Makes 3 columns*/
    column-count: 3; /*Other browsers. Makes 3 columns*/
    text-align: justify;
    -webkit-hyphens: auto;/* Chrome, Safari, Opera */
    -moz-hyphens: auto;/* Firefox */
    -ms-hyphens: auto;/* Microsoft */
    hyphens: auto; /*For Firefox and others. Seems not to work on Chrome*/
    hyphens: manual; /*This also works for Chrome*/
    word-wrap: break-word;
    column-gap: 2.4em;/*gap between columns*/
  }
}
