body {
    text-align: center;
    background: radial-gradient(circle, #9966cc, #cc66b3);

}

h1 {
    font-family: Monoton;
    font-size: 70px;
    margin: 0.2em;
}

h2 {
    margin: 1em 0 0.25em;
    color: #181719;
}

h2:first-of-type {
    margin-top: 0.5em;
}

h3 {
  color: #2d0404;
}

p {
  display: block;
  margin-block-start: 1.33em;
  margin-block-end: 1.33em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
  font-weight: bold;
}
table,
tr,
td {
    border: 1px solid black;
}

table {
    border-collapse: collapse;
    margin: 0 auto;
}

tr {
    height: 40px;
}

td {
    width: 40px;
}

input[type=number] {
    width: 6em;
}

input[type=submit] {
  width: 6em;
  height: 3em;
  border-radius: 30%;
  background-color: black;
  border: transparent;
  color: white;
}

input#colorPicker {
  border-radius: 10px;
  background-color: transparent;
  margin-left: 1em;
  padding: 1px 0;
  border-color: transparent;
  border-style: dashed;
  max-width: 15em;
  margin: 0 auto;
  width: 6em;
  height:2.5em;
}

.submit {
  color: blue;
}
