/*-- Beginn of Social Media Icons --*/
.social-midia-ctn {
  text-align: center;
  max-width: 1000px;
  margin: 0;
  padding: 1em;
}
.social {
  background: #7d97ad;
  color: #222;
  border-radius: 100%;
  display: inline-block;
  text-decoration: none;
  position: relative;
  width: 40px;
  height: 40px;
  margin: 0 2px;
  padding-top: 12px;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  transition: all .5s;
}

.icon:before {
  font-family: "FontAwesome", sans-serif;
  color: #fff;
  font-size: 20px;
}

.behance:before {
  content: '\f1b4';
}

.twitter:before {
  content: '\f099';
}

.github:before {
  content: '\f113';
}

.linkedin:before {
  content: '\f0e1';
}

/* Hover through the icons */
.social.behance:hover {
  background-color: #4183d7;
  color: #bfbfbf;
}

.social.twitter:hover {
  background-color: #19b5fe;
  color: #fff;
}

.social.github:hover {
  background-color: #000;
  color: #fff;
}

.social.linkedin:hover {
  background-color: #0271ae;
  color: #fff;
}
/* End of hover through the icons */
